li {
    list-style: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header {
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}
  
.header-list li {
    float: left;
    padding: 33px 20px;
}

