<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Let's Bl </title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='login_page.css') }}">
    </head>
    <body>
        {% extends "home.html" %}
        {% block content %}

        <form action="/register" method="POST" nonvalidate>
            {{ form.hidden_tag() }}
            <div class="login">
            <div class="login-screen">
            <div class="app-title">
            <h1>Register</h1>
            </div>
            <div class="login-form">
            <div class="control-group">
                  <p> 
                      {{form.username.label}}<br>
                      {{form.username(size=32)}}<br>
                      {% for error in form.username.errors %}
                         <span style="color:blue;">[{{error}}]</span>
                      {% endfor %}
                  </p>  
                  <p>
                  {{ form.email.label }}<br>
                  {{ form.email(size=64) }}<br>
                  {% for error in form.email.errors %}
                    <span style="color:blue;">[{{error}}]</span>
                  {% endfor %}
                  </p>
                  <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                 </p>
                 <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                 </p>
                  <p>{{ form.submit() }}</p>
            </div>
          </div>
            </form>
          <h2><p>Already have an account <a href="{{ url_for('login') }}"><b>Login?</b></p></h2>
        {% endblock %}
    </body>
</html>